<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aridhia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>


</head>
<body>

<div class="jumbotron text-center">
  <h1> Order Form </h1>
</div>
  
<div class="container">



<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPO">PO Number</label>
      <input type="text" class="form-control" id="inputPO" placeholder="PO Number">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRetailer">Retailer</label>
      <input type="text" class="form-control" id="inputRetailer" placeholder="Retailer">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLink">Item Link</label>
    <input type="text" class="form-control" id="inputLink" placeholder="Item Link">
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      
      <label for="inputItemName">Item Name</label>
      <input type="text" class="form-control" id="inputItemName" placeholder="Item Name">
    </div>

    <div class="col-md-3">
          <label for="inputPrice">Item Price</label>
      <label class="sr-only" for="inputPrice">Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">£</div>
        </div>
        <input type="text" class="form-control" id="inputPrice" placeholder="Price">
      </div>
    </div>
        <div class="form-group col-md-6">
      <label for="inputPO">Description of item</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="Info">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRetailer">Validation for purchase</label>
      <input type="text" class="form-control" id="inputValidation" placeholder="Why item was bought">
    </div>
            <div class="form-group col-md-6">
      <label for="inputPO">Requested by</label>
      <input type="text" class="form-control" id="inputRequester" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputRetailer">Approved by</label>
      <input type="text" class="form-control" id="inputApproved" placeholder="Name">
    </div>
  </div>
  

  <button type="submit" id="btn" class="btn btn-primary">Export to PDF</button>
</form>
</div>

    <form>

        <div id="msg">
            <pre></pre>
        </div>
    </form>
    <script>
        let savedform = [];

        const addForm = (ev)=>{
            ev.preventDefault();  //to stop the form submitting
            let myform = {
                id: Date.now(),
                PO: document.getElementById('inputPO').value,
                Retailer: document.getElementById('inputRetailer').value,
                Link: document.getElementById('inputLink').value,
                ItemName: document.getElementById('inputItemName').value,
                Price: document.getElementById('inputPrice').value,
                Description: document.getElementById('inputDescription').value,
                Validation: document.getElementById('inputValidation').value,
                Requester: document.getElementById('inputRequester').value,
                Approved: document.getElementById('inputApproved').value,
            }
            savedform.push(myform);
            document.forms[0].reset(); // to clear the form for the next entries
            //document.querySelector('form').reset();

            //for display purposes only
            console.warn('added' , {savedform} );
console.log(savedform)
document.getElementById("PrintPO").innerHTML = savedform[0].PO;
document.getElementById("PrintLink").innerHTML = savedform[0].Link;
document.getElementById("PrintItemName").innerHTML = savedform[0].ItemName;
document.getElementById("PrintPrice").innerHTML = savedform[0].Price;
document.getElementById("PrintDescription").innerHTML = savedform[0].Description;
document.getElementById("PrintValidation").innerHTML = savedform[0].Validation;
document.getElementById("PrintRequester").innerHTML = savedform[0].Requester;
document.getElementById("PrintApproved").innerHTML = savedform[0].Approved;


            //saving to localStorage
            localStorage.setItem('MyFormData', JSON.stringify(savedform) );

var pdf = new jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('#content')[0];

        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF 
                //          this allow the insertion of new lines after html
                pdf.save('Aridhia-'  + Date.now() + '.pdf');
            }, margins
        );
        }
        document.addEventListener('DOMContentLoaded', ()=>{
            document.getElementById('btn').addEventListener('click', addForm);
        });

    
    </script>


<div style="display: none;" class="container" id="content">

  <h1> Purchase Order </h1>

<P> P/O NO: POIS<span id="PrintPO"></span></P>
<p> Item Name: <span id="PrintItemName"></span></P></p>
<p> Item Link: <span id="PrintLink"></span></P></p>
<p> Item Price: £ <span id="PrintPrice"></span></p>
<br>
<p> Description of item: <span id="PrintDescription"></span></P></p>
<p> Validation for purchase: <span id="PrintValidation"></span></P></p>
<p> Requested by: <span id="PrintRequester"></span></P></p>
<p> Approved by <span id="PrintApproved"></span></P></p>
</div>




</body>
</html>